# ============================================================================
# 🐛 MODO DEBUG
MODO_DEBUG=

# ============================================================================
# OpenAI API

OPENAI_API_KEY=

# ============================================================================
# HuggingFace Token

HUGGINGFACE_TOKEN=

# ============================================================================
# ESP32 TOTEM SERVER - API EXTERNA (Render.com)

ESP32_API_URL=
ESP32_DEVICE_KEY=
JWT_SECRET=
ESP32_IP=